@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-x {
  left: 50%;
  transform: translateX(-50%);
}

.center-y {
  top: 50%;
  transform: translate(-50%);
}
